




/* Основные настройки */


* {
    box-sizing: border-box;
}


html, body {
    height: 100%;
}

html {
    font-size: 16px;
}

body {  
    width: 100%;
    margin: 0px;
    font-family: 'Roboto', sans-serif;;
    line-height: 1.42;
    position: relative;
    background-color: #f0f1f3;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wrapper {

    height: 100%;
    width: 100%;
    position: relative;
    
        overflow-x:hidden; 
    /*min-width: 68.75rem;*/
}


.container {
    max-width: 940px;
    margin: 0 auto;
    position: relative;
    width: 95%;
    display: flex;
    flex-direction: column;
}

ul {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

li {
    list-style: none;
}




/* Первый блок */


.first-block {
    margin: 0 auto;
    height: 22.5rem;
    background-color: #fff;
    box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.05);
    margin-bottom: 1rem;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.25rem;
    margin-bottom: 3.125rem;
}

.header__contacts {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 0.97;
  text-align: left;
  display: flex;
  align-items: center;
}

.logo-link {
    cursor: pointer;
}



.header__contacts a {
text-decoration: none;
color: #1a83d0;

}

.header__contacts a:hover {
   text-decoration: underline;
    
    }

.header__contacts:after {
    content: "";
    display: inline-block;
    width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
    border-top: 7px solid #1a83d0;
    margin-left: 5px;
    cursor: pointer;
}

.first-block__content {
    display: flex;
    flex-direction: column;
}

.first-block__dec,
.second-block__dec,
.third-block__dec {
    display: flex;
    align-items: center;
    margin-bottom: 1.563rem;
}

.first-block__icon, /*основные стили для разделителей блоков и пр оформления*/
.second-block__icon,
.third-block__icon {
    width: 36px;
    height: 35px;
    border-radius: 50%;
    background-color: #e1e1e1;

    color: #ef3b61;
    font-size: 21.5px;
    font-weight: 700;
    line-height: 0.98;
    text-align: center;
    padding: 0.313rem;
}

.separator {
width: 100%;
margin-left: 1%;
height: 5px;
background-color: #e1e1e1;

}
.separator:before {
    content: "";
    width: 56px;
    height: 5px;
    background-color: #ef3b61;
    z-index:11;
    display: block;
}

.separator-registration:before {
    content: "";
    width: 56px;
    height: 5px;
    background-color: #00c676;
    z-index:11;
    display: block;
}

.separator-payment:before {
    content: "";
    width: 56px;
    height: 5px;
    background-color: #0074ff;
    z-index:11;
    display: block;
}



.second-block__icon {
    color: #00c676;
}

.third-block__icon {
    color: #0074ff;
}


.first-block__list {
    display: flex;
    flex-direction: column;
}

.first-block__item-info {
    display: flex;
    width: 50%;
}

.first-block__item {
    display: flex;
    align-items: center;
}

.first-block__item-img {
    margin-right: 19px;
}

.first-block__item-desc {
    font-size: 1.16rem;
    font-weight: 300;
    line-height: 1.3em;
    text-align: left;
    color: #4b4b4b;

}

.first-block__item-counter {
    display: flex;
}

.count-and-price {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.number {
    display: flex;
}

.counter-section {
    width: 2.625rem;
    height: 2.563rem;
    background-color: #f0f1f3;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

}

.minus  {
  font-size: 4.063rem;
  font-weight: 300;
  line-height: 1.15;
  color: #4b4b4b;
  margin-right: 0.438rem;
}

.plus {
    font-size: 2.313rem;
    color: #4b4b4b;
    margin-left: 0.438rem;

}

.counter-section-input {
    width: 3.875rem;
    height: 2.438rem;

    padding: 0.625rem;
    border-radius: 5px;

    font-size: 1.25rem;
    color: #343434;
    outline: none;
}

.first-block__item-price {
    font-size: 1.25rem;
    font-weight: 700;
    text-align: left;
    color: #4b4b4b;
    display: flex;
}

.block-phone {
    position: relative;
}


.block-phone:before {
content: "+7";
display: flex;
align-items: center;
justify-content: center;
width: 50px;
height: 50px;
background-color: #f3f3f5;
position: absolute;
border-radius: 5px;
bottom: 1px;
left: 1px;
border-right: 1px solid #cdcccc;



font-size: 17px;
font-weight: 300;
line-height: 0.98;
letter-spacing: -0.9px;
text-align: left;
color: #a2a2a2;
}


.first-block__desc-list-content {
    display: flex;
    justify-content: space-between;

    font-size: 1rem;
    font-weight: 300;
    text-align: left;
    color: #a2a2a2;

}


.bonus {
    display: flex;
    justify-content: flex-end;


    margin-top: -3%;
    font-size: 1.125rem;
    font-weight: 300;
    text-align: left;
    color: #ef3b61;
}


/* Регистрация и оплата */

.form__row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3%;
}

.block-form {
    margin: 0 auto;
    /*height: 68.75rem;*/
    background-color: #fff;
    box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.05);
}


.title {
    font-size: 1.625rem;
    letter-spacing: -1.1px;
    text-align: left;
    color: #4b4b4b;
    margin-left: 5%;
}

.form__block {
    display: flex;
    flex-direction: column;
}

.form__block-title,
.form__checkbox-title {
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: -0.8px;
    text-align: left;
    color: #a2a2a2;
}

.form__checkbox-title {
    max-width: 5.063rem;
}

.form__block-input {
    width: 22.438rem;
    height: 3.25rem;
    border: solid 1px #cdcccc;
    border-radius: 5px;
    padding-left: 1.25rem;
}
.block-input-phone {
    padding-left: 17%;
}

.form__checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;

}

.form__real-checkbox {
    display: none;

}

.form__real-checkbox:checked ~ .form__checkbox-fake:after {
    content: "";
    display: inline-block;
 
}

.form__checkbox-fake {
    width: 1.375rem;
    height: 1.375rem;
    border: solid 1px #d2d2d2;
    background-image: linear-gradient(to top, #ececec, #fafafa);
    outline: none;
    margin-right: 0.938rem;
}

.form__checkbox-fake:after {
    content: "";
    display: none;
    z-index: 22;
    width: 0.875rem;
    height: 0.813rem;
    top: 50%;
    left: 50%;
    margin-left: 0.188rem;

    background-image: url(../img/checked.png);
    background-repeat: no-repeat;
}

.block-mail {
    margin-top: -2%;
}

.form__block-input::placeholder {
    font-size: 1.063rem;
    font-weight: 300;
    line-height: 1.03;
    letter-spacing: -0.7px;
    text-align: left;
    color: #a2a2a2;
}

.form__block-input:focus {
    border: 1px solid #343434;
    outline: none;
}

.registration {
    margin-top: 1.875rem;
    margin-bottom: 6.25rem;
}

.subtitle {
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: -0.8px;
    text-align: left;
    color: #4b4b4b;
}

.payment__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.payment__icons {
    width: 10.563rem;
    height: 2.5rem;
    background-image: url('../img/pay-methods.png');
    background-repeat: no-repeat;
    display: block;
}

.other-pay-method {
    font-size: 1.125rem;
    font-weight: 300;
    letter-spacing: -0.7px;
    text-align: left;
    color: #4b4b4b;
    text-transform: lowercase;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 3.75rem;
}

.other-pay-method p {
    
    border-bottom: 1px dashed #4b4b4b;
    cursor: pointer;
}

.form__checkbox-agree {
    font-size: 1.063rem;
    text-align: left;
    color: #595858;
}

.payment__agree {
    display: flex;
    justify-content: center;
    margin-bottom: 0.625rem;
}

.payment__btn {
    display: flex;
    justify-content: center;
    border-radius: 5px;
}



.payment__btn-content {
    width: 24.688rem;
    height: 4.813rem;
    background-image: linear-gradient(to top, #40921d, #90d838);
    border: none;
    border-radius: 5px;


    font-size: 2.313rem;
    font-weight: 300;
    line-height: 1.22;
    letter-spacing: -1.5px;
    text-align: left;
    color: #ffffff;
    text-align: center;
}

.instructions-info {


    font-size: 1.25;
    font-weight: 300;
    line-height: 1.23;
    letter-spacing: -0.8px;
    text-align: center;
    color: #4b4b4b;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 8%;
    text-decoration: none;
}

.instructions-info:hover {
    text-decoration: underline;
}

.payment__btn-content:hover {
    cursor: pointer;
    background-image: none;
    background-color: #0074ff;
}

/*Переключатель для мобильной версии */

.switcher__input {
display: none;
}

.switcher__input:checked + .switcher__label  {
    color: #4b4b4b;
}


.switcher__input:checked + .switcher__label:before {
    content: "";
    background-color: #3fb34f;
}

.switcher__input:checked + .switcher__label:after {
    transform: translateX(51px);
}

.switcher__label {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.05;
    letter-spacing: -0.8px;
    text-align: left;
    color: #a2a2a2;

    vertical-align: top;
    position: relative;
    padding-left: 120px;
    cursor: pointer;
    left: 0;
}

.switcher__label:before {
    content: "";
    display: block;
    width: 95px;
    height: 42px;
    background-color: #e5e5e5;
    border-radius: 50px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.switcher__label:after {
    content: "";
    display: block;
    width: 41px;
    height: 41px;
    background-color: #fff;
    border-radius: 50%;

    position: absolute;
    top: 1px;
    left: 1px;
    z-index: 2;
    transition: transform .1s linear;
}


.switcher__text {
    line-height: 48px;
}

.switcher__div {
    display: none;
}

.payment__mobile {
    display: none;
}


.form__checkbox-sms {
    margin-right: 1%;
    margin-left: 1%;
}

